.x-output{
	padding-top:0;
}

.x-col31{width:15%;}
.x-col31 img{ width:100%; height:auto;}
.x-col32{width:85%;}

.content{ color:#000;}

.x-panel .x-panel-content{background:#fff url(../EMPer/img/bg_logo.png) no-repeat center center;}
.divClass2{background:#c0d9f3;}









